<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Hakkımızda</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna nec quam.</p>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <ul class="list-unstyled">
                    <li><a href="#">E-posta: inf.com</a></li>
                    <li><a href="#">Telefon: +90 123 456 7890</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Sosyal Medya</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Şirket Adı. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
