<div class="container mt-5">
    <div class="row">
        <div class="col-md-4" *ngFor="let c of categories">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ c.name }}</h5>
                    <div class="btn-group">
                        <button class="btn btn-success btn-sm" [routerLink]="'category-product-list/' + c.id"
                        routerLinkActive="active">Ürünler</button>
                        <button class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>