<div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item img-zoom d-flex align-items-center mb-4" style="background-color:linen;">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="https://icons.iconarchive.com/icons/treetog/junior/256/camera-icon.png" alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>Category Name</h6>
                    <small class="text-body">100 Products</small>
                </div>
            </div>
        </a>
    </div>
</div>
