<div class="container mt-5">
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Resimler</th>
                <th>Çoklu Resim Ekle </th>
                <th>Açıklama ve Bilgi</th>
                <th>Kategori</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ürün 1 -->
            <tr *ngFor="let p of products">
                <td>{{ p.name }}</td>
                <td>{{ p.price}}</td>
                <td><a class="btn btn-sm btn-success" (click)="openModel(p.id)"><i class="fa fa-image"></i></a></td>
                <td><a class="btn btn-sm btn-info" (click)="openImagesModel(p.id)"><i class="fa fa-pencil"></i></a></td>
                <td><a class="btn btn-secondary btn-sm" [routerLink]="'product-detail-update/' + p.id"
                        routerLinkActive="active">Açıklama ve Bilgi</a></td>
                <td>{{p.categoryName}}</td>
                <td><a class="btn btn-warning btn-sm" [routerLink]="'product-update/' + p.id"
                        routerLinkActive="active">Düzenle</a></td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(p.id)"><i
                            class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="CloseModel()" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner" *ngFor="let pi of productImages">
                        <div class="carousel-item active">
                            <img src={{pi.image1}} class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src={{pi.image2}} class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src={{pi.image3}} class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="myImagesModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="closeImagesModel()" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productImagesAddForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="image1" class="form-label">Resim 1</label>
                        <input class="form-control" type="file" formControlName="image1" id="image1" (change)="onFileSelected($event, 1)" >
                    </div>
                    <div class="mb-3">
                        <label for="image2" class="form-label">Resim 2</label>
                        <input class="form-control" type="file" formControlName="image2" id="image2" (change)="onFileSelected($event, 2)" >
                    </div>
                    <div class="mb-3">
                        <label for="image3" class="form-label">Resim 3</label>
                        <input class="form-control" type="file" formControlName="image3" id="image3" (change)="onFileSelected($event, 3)" >
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                </form>        
            </div>
        </div>
    </div>
</div>
