<div id="sidebar">
    <div id="sidebar-toggle" class="d-md-none">
        <button class="btn btn-primary">☰</button>
    </div>
    <nav class="nav flex-column">
        <a class="nav-link active" href="#">{{'Anasayfa'| translate}}</a>
        <a class="nav-link" routerLink="category-list" routerLinkActive="active"><i class="fa fa-list"></i> {{'Kategoriler'| translate}}</a>
        <a class="nav-link" routerLink="category-add" routerLinkActive="active"><i class="fa fa-plus"></i> {{'Kategori Ekle'| translate}}</a>
        <a class="nav-link" routerLink="product-list" routerLinkActive="active"><i class="fa fa-list"></i> {{'Ürünler'| translate}}</a>
        <a class="nav-link" routerLink="product-add" routerLinkActive="active"><i class="fa fa-plus"></i> {{'Ürün Ekle'| translate}}</a>
        <a class="nav-link" routerLink="comment-list" routerLinkActive="active"><i class="fa fa-copy"></i> {{'Yorumlar'| translate}}</a>
        <a class="nav-link" routerLink="message-list" routerLinkActive="active"><i class="fa fa-file"></i> {{'Gelen Mesajlar'| translate}}</a>
    </nav>
</div>

<div id="content">
    <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(geçerli)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav> -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(geçerli)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-flex align-items-center"  *ngIf="userInfo$ | async as userInfo">
                    <!-- Kullanıcı Adı -->
                    <a class="nav-link" href="#" style="margin-left: 10px;">{{userInfo.userName}}</a>
                    <!-- Kullanıcı Resmi -->
                    <img src="https://randomuser.me/api/portraits/men/28.jpg" alt="User" class="rounded-circle" width="40" height="40">
                    
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- İçerik Alanı -->
    <main role="main" class="container">
        <router-outlet></router-outlet>
    </main>
</div>

