<br>
<br>
<div class="container">
    <div class="row">
        <form [formGroup]="categoryAddForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Kategori Adı</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Kategori adı"
                    autofocus>
            </div>
            <div class="form-group">
                <label for="name">Kategori Resmi</label>
                <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl" placeholder="Kategori resmi"
                    autofocus>
            </div>
            <br>
            <button type="submit" class="btn btn-sm btn-primary btn-block">Ekle</button>
        </form>
    </div>
</div>