<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Gönderen</th>
                    <th>Konu</th>
                    <th>Mesaj</th>
                    <th>Durum</th>
                    <th>Gönderi Tarihi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        
                <tr>
                    <td>user456</td>
                    <td>Meeting Reminder</td>
                    <td>Please remember our meeting tomorrow at 10 AM.</td>
                    <td><span class="badge bg-success">Read</span></td>
                    <td>2024-08-30</td>
                    <td>
                        <button class="btn btn-primary btn-sm me-2">Güncelle</button>
                        <button class="btn btn-danger btn-sm">Sil</button>
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>
</div>

