<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let p of products">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://via.placeholder.com/490x308?text=Image+1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">{{p.description}}</p>
                    <a href="#" class="btn btn-primary">İncele</a>
                </div>
            </div>
        </div>
    </div>
</div>
