<div class="container mt-5">
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Resimler</th>               
                <th>Kategori</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ürün 1 -->
            <tr *ngFor="let p of products">
                <td>{{ p.name }}</td>
                <td>{{ p.price}}</td>
                <td>{{ p.imageUrl}}</td>
                <td>{{ p.categoryName}}</td>
                <td><a class="btn btn-warning btn-sm" >Düzenle</a></td>
                <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
